version: '3'

x-azkaban-executor-server-common: &azkaban-executor-server-common
  image: rea1shane/azkaban-executor-server:${AZKABAN_VERSION}
  platform: linux/amd64
  expose:
    - 12321
  depends_on:
    mysql:
      condition: service_healthy
  healthcheck:
    test: [ "CMD", "sh", "bin/activate-executor.sh" ]
    timeout: 5s
    retries: 24

services:
  mysql:
    container_name: azkaban-mysql
    image: rea1shane/azkaban-mysql:${AZKABAN_VERSION}
    platform: linux/amd64
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./mysql/my.cnf:/etc/my.cnf
    ports:
      - 3306:3306
    # https://stackoverflow.com/questions/42567475/docker-compose-check-if-mysql-connection-is-ready
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 5s
      retries: 24

  executor-server-1:
    container_name: azkaban-executor-server-1
    <<: *azkaban-executor-server-common

  executor-server-2:
    container_name: azkaban-executor-server-2
    <<: *azkaban-executor-server-common

  executor-server-3:
    container_name: azkaban-executor-server-3
    <<: *azkaban-executor-server-common

  web-server:
    container_name: azkaban-web-server
    image: rea1shane/azkaban-web-server:${AZKABAN_VERSION}
    platform: linux/amd64
    ports:
      - 8081:8081
    depends_on:
      executor-server-1:
        condition: service_healthy
      executor-server-2:
        condition: service_healthy
      executor-server-3:
        condition: service_healthy
