version: '3'

services:
  mysql:
    container_name: azkaban-mysql
    image: rea1shane/azkaban-mysql:${AZKABAN_VERSION}
    platform: linux/amd64
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./mysql/my.cnf:/etc/my.cnf
    ports:
      - 3306:3306

  executor-server:
    image: rea1shane/azkaban-executor-server:${AZKABAN_VERSION}
    platform: linux/amd64
    environment:
      MYSQL_HOST: mysql
    expose:
      - 12321
    depends_on:
      mysql:
        condition: service_healthy

  web-server:
    container_name: azkaban-web-server
    image: rea1shane/azkaban-web-server:${AZKABAN_VERSION}
    platform: linux/amd64
    environment:
      MYSQL_HOST: mysql
    ports:
      - 8081:8081
    depends_on:
      executor-server:
        condition: service_healthy
