name: executor-server-ci

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci-template.yml
      - .github/workflows/executor-server-ci.yml
      - multi-executor-server/executor-server/**
      - supported-azkaban-versions.json

jobs:
  ci:
    uses: rea1shane/docker-azkaban/.github/workflows/ci-template.yml@main
    with:
      component-name: azkaban-executor-server
      build-context: multi-executor-server/executor-server
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
