name: solo-server-ci

on:
  push:
    branches:
      - main
    paths:
      - solo-server/**
      - .github/workflows/ci-template.yml
      - .github/workflows/solo-server-ci.yml
      - supported-azkaban-versions.json

jobs:
  ci:
    uses: rea1shane/docker-azkaban/.github/workflows/ci-template.yml@main
    with:
      component-name: azkaban-solo-server
      build-context: solo-server
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
