name: solo-server-ci

on:
  schedule:
    - cron: "0 * * * *"
  # push:
  #   branches:
  #     - "main"
  #   paths:
  #     - "solo-server/Dockerfile"
  #     - ".github/workflows/solo-server-ci.yml"
  #     - "supported-azkaban-versions.json"
  pull_request:
    branches:
      - "main"
    paths:
      - "solo-server/Dockerfile"
      - ".github/workflows/solo-server-ci.yml"
      - "supported-azkaban-versions.json"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.versions.outputs.VERSIONS }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Get supported Azkaban versions
        id: versions
        run: |
          content=$(cat supported-azkaban-versions.json)
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          echo "VERSIONS<<$EOF" >> "$GITHUB_OUTPUT"
          echo "$content" >> "$GITHUB_OUTPUT"
          echo "$EOF" >> "$GITHUB_OUTPUT"

  docker:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ${{ fromJson(needs.setup.outputs.matrix) }}
    env:
      SKIP_FLAG: "false"
      EXTRA_TAG: ""
    steps:
      - name: Check skip
        if: github.event_name == 'schedule' && matrix.version != 'master'
        run: echo "SKIP_FLAG='true'" >> "$GITHUB_ENV"
      - name: Check latest
        if: env.SKIP_FLAG == 'true' && matrix.version == 'master'
        run: echo "EXTRA_TAG=,${{ secrets.DOCKERHUB_USERNAME }}/azkaban-solo-server:latest" >> "$GITHUB_ENV"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        if: env.SKIP_FLAG == 'true'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        if: env.SKIP_FLAG == 'true'
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        if: env.SKIP_FLAG == 'true'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        if: env.SKIP_FLAG == 'true'
        with:
          context: "{{defaultContext}}:solo-server"
          build-args: AZKABAN_VERSION=${{ matrix.version }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/azkaban-solo-server:${{ matrix.version }}${{ env.EXTRA_TAG }}
