name: web-server-ci

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci-template.yml
      - .github/workflows/web-server-ci.yml
      - multi-executor-server/web-server/**
      - supported-azkaban-versions.json

jobs:
  ci:
    uses: rea1shane/docker-azkaban/.github/workflows/ci-template.yml@main
    with:
      component-name: azkaban-web-server
      build-context: multi-executor-server/web-server
